<ion-header>

  <ion-navbar>
    <ion-title>Diet Builder</ion-title>
  </ion-navbar>
</ion-header>

 <button ion-item (click)="presentcategorySheet()" [style.z-index]="10">
        Choose category to review diet for
      </button>


<div *ngIf="update">

 <ion-grid>
    <ion-row>
      <ion-col> Day Today </ion-col>
    </ion-row>

    <ion-row *ngFor = "let day of dayresdata">
      <ion-col>
        <button (click)="showmealsOf(day)"> {{day.dayNumber}} </button>
      </ion-col>
      <div *ngIf="openmeals">
        <ion-col>
        <ion-row >
          <ion-col>
            <ion-list *ngFor="let meal of itemresdata">
              <ion-item>

                <ion-card>
                  <ion-card-header>
                    Breakfast
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>{{meal.name}}</ion-item>
                    <ion-item> {{meal.measurementUnit}} . {{meal.queantity}} </ion-item>
                    <ion-item> Whatever details you want to add </ion-item>
                    <ion-searchbar [(ngModel)]="itemQuery"></ion-searchbar>
                  </ion-card-content>
                </ion-card>

              </ion-item>
          </ion-list>

          </ion-col>
        </ion-row>
      </ion-col>
    </div>
    </ion-row>

<ion-footer>
  {{categoryChoice}}
</ion-footer>
